*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 33%;
    height: auto;
    padding: 30px;
    background-color: white;
    margin: 50px auto;
    border-radius: 24px;
    border: dotted;
}
.cart{
    width: 360px;
    height: auto;
    padding: 15px;
    margin: auto;
    border-radius: 24px;
    

}
.cart_img{
    width: 100%;
}
.cart_img img{
    width: 100%;
}
.cart_content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cart_content h2{
    margin-bottom: 15px;
    font-size: 24px;
}
.cart_content p{
    margin-bottom: 15px;
}
.cart_content .cart_price{
    font-size: 20px;
    font-weight: solid;
}
.cart_content button{
    border: none;
    padding: 16px;
    width: 100%;
    background-color: lightgreen;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    border-radius: 24px;
}
.cart_content button:hover{
    background-color: white;
    color: green;
}
.cart2{
    
    background-color: lightgreen;
    border-radius: 24px;
    width: 350px;
    height: 250px;
    padding-left: 10px;
}
