*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 50px auto;
    color: #fff;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.grid-item{
    padding: 45px 0;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(233, 233, 7);
}
.item1{
  grid-column: span 2;
  grid-row: span 2;
}
.item6{
    grid-column:span 2;
}
.item3{
    grid-row: span 4;
    width: 65px;
}
.item2{
    height: 150px;
}
